resources/odd/monacitest.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI Processing Model Customization</title>
            </titleStmt>
            <publicationStmt>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" source="teipublisher.odd" ident="monacitest">
                
                <elementSpec ident="titleStmt" mode="add">  <!-- or change if we change! -->
                    <model output="latex" behaviour="meta">
                        <param name="content" value="."/>
                    </model>
                    <model output="fo" behaviour="heading"/>
                    <modelSequence output="web" predicate="$parameters?header='short'">  <!-- what's in the Homepage -->
                        <model behaviour="link">
                            <param name="content" value="title[1]"/>
                            <param name="link" value="$parameters?doc"/>
                        </model>
                        <model behaviour="block">
                            <param name="content" value="subsequence(title, 2)"/>
                        </model>
                        <model behaviour="block">
                            <param name="content" value="author"/>
                        </model>
                        <!--<model behaviour="block">
                            <param name="content" value="respStmt"/>
                        </model>-->
                    </modelSequence>
                    <model output="web" behaviour="block"/>
                </elementSpec>
                
                <!--<elementSpec ident="respStmt" mode="add">
                    <model behaviour="block">
                        <param name="content" value="concat(resp, ': ', string-join(persName, ', '))"/>
                    </model>
                </elementSpec>-->
                
                <elementSpec ident="licence" mode="change">
                    <model predicate="$parameters?header='short'" behaviour="omit"/>
                </elementSpec>
                
            </schemaSpec>
        </body>
    </text>
</TEI><!-- This inherits from teipublisher.odd, which inherits from simple.odd -->