resources/odd/monacitest.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:lang="en">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title>TEI Processing Model Customization</title>
            </titleStmt>
            <publicationStmt>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </publicationStmt>
            <sourceDesc>
                <p>Generated by <ref target="http://tei-publisher.com">TEI Publisher</ref>
                </p>
            </sourceDesc>
        </fileDesc>
    </teiHeader>
    <text>
        <body>
            <schemaSpec start="TEI teiCorpus" source="teipublisher.odd" ident="monacitest">
                
                <elementSpec ident="titleStmt" mode="add">  <!-- or change if we change! -->
                    <model output="latex" behaviour="meta">
                        <param name="content" value="."/>
                    </model>
                    <model output="fo" behaviour="heading"/>
                    <modelSequence output="web" predicate="$parameters?header='short'">  <!-- what's in the Homepage -->
                        <model behaviour="link">
                            <param name="content" value="title[1]"/>
                            <param name="link" value="$parameters?doc"/>
                        </model>
                        <model behaviour="block">
                            <param name="content" value="subsequence(title, 2)"/>
                        </model>
                        <model behaviour="block">
                            <param name="content" value="author"/>
                        </model>
                        <!--<model behaviour="block">
                            <param name="content" value="respStmt"/>
                        </model>-->
                    </modelSequence>
                    <model output="web" behaviour="block"/>
                </elementSpec>
                <elementSpec ident="bibl" mode="change">
                    <model predicate="parent::listBibl" behaviour="listItem">
                        <modelSequence predicate="parent::listBibl">   <!-- MODEL SEQUENCE ...  yuppie -->
                            <model predicate="editor" behaviour="inline">
                                <param name="content">editor</param>
                                <outputRendition scope="before">content: '('</outputRendition>
                                <outputRendition scope="after">content: ')'</outputRendition>
                            </model>
                            <model predicate="title" behaviour="inline">
                                <outputRendition>font-style: italic</outputRendition>
                            </model>
                        </modelSequence>
                    </model>  
                    <model behaviour="inline"/>
                </elementSpec>                
                <!--<elementSpec ident="respStmt" mode="add">
                    <model behaviour="block">
                        <param name="content" value="concat(resp, ': ', string-join(persName, ', '))"/>
                    </model>
                </elementSpec>-->
                
                <elementSpec ident="licence" mode="change">
                    <model predicate="$parameters?header='short'" behaviour="omit"/>
                </elementSpec>
                
                <elementSpec ident="editor" mode="change">            <!-- MODELS ORDER MATTERS, forst for which predicate is true, it wins -->
                    <model predicate="ancestor::bibl and following-sibling::editor" behaviour="inline">
                        <outputRendition scope="after">content: ', '</outputRendition>
                    </model>
                    <model predicate="ancestor::bibl" behaviour="inline"/>
                    <model predicate="ancestor::teiHeader" behaviour="omit"/>
                    <model behaviour="inline"/>
                </elementSpec>
                
            </schemaSpec>
        </body>
    </text>
</TEI><!-- This inherits from teipublisher.odd, which inherits from simple.odd -->